@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600&display=swap');
:root{
    /* --primaryColor: #820300; */
    --dotted: #d2691e;
    --secondaryColor: #373737;
    --bg:#f5f0da;
    --ddColor: #212121;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Crimson Text', serif; */
    /* font-family: 'Noto Nastaliq Urdu', serif; */
    font-family: 'Lateef', serif;
}
section{
    background: #e2e1e0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.menu-card{
    background: url("https://img.pngio.com/hd-coffee-bean-vector-png-247361-coffee-bean-vector-pattern-coffee-bean-vector-png-3333_3333.png");
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin:10px;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.leafs{
    padding: 20px 10px;
    border: 10px solid #820300;
}
.menu-card-subtitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.menu-card-subtitle h3{
    font-size: 2.2em;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Lateef', serif;
    color: var(--secondaryColor);
    text-align: center;
}
/* .menu-card-subtitle h2{
    font-size: 3em; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Noto Nastaliq Urdu', serif;
    font-weight: 800;
    color: var(--secondaryColor);
} */
#front{
    background-color:#820300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cafe-main-image-brand{
    flex: 1;
    width: 100%;
    height: auto;
    background-color: #820300;
    background: url("1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
#cafe-main-image-brand h1{
    background:linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.0));
    color: #ffffff;
    padding: 40px;
    font-size: 3em;
    font-weight: 900;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Lateef', serif; */
    font-family: 'Noto Nastaliq Urdu', serif;
}
#front-menu{
    height:50vh;
    flex: 1;
    background-color:var(--bg) ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.menu-time{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:10px;
}
.menu-time h2{
    font-size: 2em;
    font-weight: 600;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Lateef', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    color: #820300;
    text-align: center;
}
.hours{
    margin-top: 5px;
}
td{
padding: 4px;
font-size: 19px;
font-style: italic;
text-align: left;
font-weight: 500;
/* font-family: 'Crimson Text', serif; */
font-family: 'Lateef', serif;
color: rgb(95, 95, 95);
}
.dashes{
    margin: 0 10px;
    border-bottom: 7px dotted #820300;
}
.place-contact address{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Lateef', serif;
    margin-bottom: 20px;
    color: var(--secondaryColor);
}
.place-contact address svg{
    margin-right: 10px;
}
.place-contact address a{
    text-decoration: none;
    color: var(--secondaryColor);
}
.cafe-items-container{
    padding: 20px 10px;
}
.cafe-items-container .cafe-items-title{
    display: flex;
    flex-direction: column;   
}
.cafe-items-title h6{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--secondaryColor)
}
.cafe-items-title p{
    font-size: 1.4em;
    font-weight: 500;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Lateef', serif;
    font-style: italic;
    color: #820300;
}

footer{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 28, 28, 0.9);
}
footer a{
    text-decoration: none;
    color: #e2e1e0;
    font-size: 1.3em;
    letter-spacing: 0.6px;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lateef', serif;
    padding:10px;
}
/* media  queries */
/* @media screen and (max-width:850px) {
    section{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
}
@media screen and (max-width:1000px) {
    .menu-card{
        width: 400px ;
    }
} */


@media screen and (max-width: 850px) {
    section {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menu-card {
        width: 100%;
    }
}

/* تنسيق لشاشات العرض الأصغر من 600 بكسل */
@media screen and (max-width: 600px) {
    section {
        padding: 5px;
    }

    .menu-card {
        width: 100%;
    }
}

/* تنسيق لشاشات العرض الأصغر من 400 بكسل */
@media screen and (max-width: 400px) {
    section {
        padding: 2px;
    }

    .menu-card {
        width: 100%;
    }
}
